body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
    font-family: 'Times New Roman', Times, serif;
}

label {
    display: block;
    text-align: left;
    margin: 10px 10px 5px;
    padding-right: 10px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #28a745;
    border: none;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

.error-message {
    color: red;
    font-size: 14px;
}
.navbar {
    padding-left: 10px;
    background-color: lightgray;
    overflow: hidden;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-radius: 20px;
    text-align: center;
    
}
.navbar:hover{
    transform: scale(1.05);
}
.navbar a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 12px 12px;
    text-decoration: none;
    font-size: 16px;
}

.navbar a:hover {
    transform: scale(1.05);
    background-color: #fdfafa;
    color: rgb(0, 0, 0);
}

.navbar a:not(:last-child) {
    margin-right: 10px;
}

.navbar a{
    text-align: center;
    margin-left: 40px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
